.carousel{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 31.0rem;
    width: 90%;
    
}
.rm{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    height: 31.0rem;
}

.carousel img{
    width: 90%;
    height: 31.0rem;
    border-radius: 25px;
}
