.carousel{
    margin-top: 140px;
    margin-bottom: 10px;
    height: 22.0rem;
    width: 90%;
    
}
.rm{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.carousel img{
    height: 22.0rem;
    width: 90%;
    border-radius: 15px;
}
