.bg-fundo{
    background-image: url("../../assets/pets.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    opacity: 0.8;
    background-position: center top;
    display: grid;
    align-items: center;
    background-size: 100% 100%;
}



.fa-grin-wink{
    color: #f3d342;
    background-color: #9c5900;
    border-radius: 60%;
}

.title{
    font-size: 90px;
    font-weight: 700;
    text-decoration: none solid rgb(218, 84, 84);
    text-align: center;
    word-spacing: 0px;
    color:  #f0e9e9;
    text-shadow: black 0.1em 0.1em 0.3em;
    margin-top: 13.0rem;
}

.sub-title{
    font-size: 45px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0px;
    background-position: 0% 0%;
    color:  #f0e9e9;
    margin-bottom: 10.1rem;
    text-shadow: black 0.1em 0.1em 0.2em;
}