.bg-fundo{
    background-image: url("../../assets/pets.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    opacity: 0.7;
    background-position: center top;
    display: grid;
    align-items: center;
    background-size: auto;
  
}

.title{
    font-size: 70px;
    font-weight: 900;
    text-decoration: none solid rgb(218, 84, 84);
    text-align: center;
    word-spacing: 0px;
    color:  #000000;
    margin-top: 10.2rem;
}


.sub-title{
    font-size: 45px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0px;
    background-position: 0% 0%;
    color:  #000000;
    margin-bottom: 30.1rem;
}